.article-details-container{
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px;
}

.article-details-title{
  font-size: 28px;
  font-weight: bold;
}

.article-details-some-message{
  margin: 5px 0 ;
  background: #f7f7fc;
  display: flex;
  flex-direction: row;
  color: #999aaa
}

.article-details-tag{
  background-color: #c0c0c0;
  color: white;
  border-radius: 6px;
  padding: 0 8px;
  font-size: 17px;
}

.article-details-create-time{
  margin: 0 20px;
}