.nav-bar-container {
  padding: 20px;
  display: flex;

  flex-direction: column;
  align-items: center;
}

.nav-item {
  height: 40px;
  width: 200px;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e6e2e2;
}

.nav-item:hover {
  background: #95989b;
  cursor: pointer;
  color: #f0e9e9;
}

.nav-item:focus {
  box-shadow:  10px 10px 10px beige;
}