.admin-add-article {
  padding: 30px;
  text-align: left;

  .article-title {
    max-width: 800px;
  }


  .article-type,
  .article-tag {
    max-width: 200px;
  }
.article-submit{
  margin: 30px 0 ;
}

}